{#

## vX.X.X (YYYY-MMM-DD)

#}{{

      "## %s (%s)\n" | format(
        release.version.as_semver_tag(),
        release.tagged_date.strftime("%Y-%m-%d")
      )

}}{%  set commit_objects = release["elements"] | dictsort
%}{#
#}{%  for type_, commits in commit_objects
%}{{
        "\n### %s\n" | format(type_ | title)

}}{%    for commit in commits
%}{{
          "\n* %s ([`%s`](%s))\n" | format(
              commit.descriptions[0].rstrip(),
              commit.short_hash,
              commit.hexsha | commit_hash_url,
          )

}}{%    endfor
%}{%  endfor
%}
